@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-rose-900 rounded-xl;
}

.task > ::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-xl;
}